<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    {% include "top.html" %}
  </head>

  <body>

    <!-- 1st Section containing girl in orange shirt and application form -->
    <div class="first-section">
      <section class="section-landing">
        <div class="">
          <form action="/" method="POST">
            <div>
              <input class="" type="text" name="f_name">
            </div>
            <div>
              <input type="text" name="m_name">
            </div>
            <div>
              <input type="text" name="l_name">
            </div>
            <div>
              <input type="text" name="e_add">
            </div>
            <div>
              <input type="text" name="m_num">
            </div>
            <p>Do you have call center experience?</p>
            <div>
              <input type="radio" value="1" id="y_expc" name="cc_expc">
              <label for="y_expc">Yes</label>
            </div>
            <div>
              <input type="radio" value="0" id="n_expc" name="cc_expc">
              <label for="n_expc">No</label>
            </div>
          </form>
        </div>
    </div>
    </section>

    <!-- 2nd section containing flying girl in white shirt, VSS perks and programs -->
    <div class="second-section">
      <section class="section-landing section-bg">
        <div class="row container-fluid" style="justify-content: space-between; padding-top: 75px; padding-right: 75px; padding-left: 75px; padding-bottom: 20px;">
          <div class="col-6">
            <h1>Enjoy these perks and programs as a VSS Employee!</h1>
          </div>
          <div class="row" style="justify-content: space-between">
            <div class="col-6">
              <button href="#" class="btn font-p" style="background-color: #80CC6B; color: #000; padding: 8px 25px; margin-top: 6px; margin-bottom: 6px">Apply Now!</button>
            </div>
          </div>
        </div>
        <div class="row container-fluid brushed-bg">
          <!-- <div class="row "> -->
            <div class="col-7">
              <h1>adad</h1>
              <h1>adad</h1>
              <h1>adad</h1>
              <h1>adad</h1>
              <h1>adad</h1>
              <h1>adad</h1>
              <h1>adad</h1>
            </div>
            <div class="col-5">
              <div class="row" style="padding: 20px">
                <div class="card" style="padding: 55px 30px">
                  <h1>adad</h1>
                </div>
                <div class="card" style="margin-left: 13px; padding: 55px 30px">
                  <h1>adad</h1>
                </div>
                <div class="card" style="margin-left: 13px; padding: 55px 30px">
                  <h1>adad</h1>
                </div>
              </div>

              <div class="row" style="padding: 20px">
                <div class="card" style="padding: 55px 30px">
                  <h1>adad</h1>
                </div>
                <div class="card" style="margin-left: 13px; padding: 55px 30px">
                  <h1>adad</h1>
                </div>
                <div class="card" style="margin-left: 13px; padding: 55px 30px">
                  <h1>adad</h1>
                </div>
              </div>

              <div class="row" style="padding: 20px">
                <div class="card" style="padding: 55px 30px">
                  <h1>adad</h1>
                </div>
                <div class="card" style="margin-left: 13px; padding: 55px 30px">
                  <h1>adad</h1>
                </div>
                <div class="card" style="margin-left: 13px; padding: 55px 30px">
                  <h1>adad</h1>
                </div>
              </div>
            <!-- </div> -->
          </div>

        </div>
      </section>
    </div>

    <!-- 3rd section containing carousel with images -->
    <div class="third-section">
      <section class="section-landing">
        <div class="">
          <h1>Replace me with a Design</h1>
        </div>
      </section>
    </div>

    <!-- 4th section containing Google Maps API -->
    <div class="fourth-section">
      <section class="section-landing">
        <div class="">
          <h1>Replace me with a Design</h1>
        </div>
      </section>
    </div>

    <!-- Footer containing companies address and contacts -->
    <footer class="section-landing">
      <div class="">
        <h1>Replace me with a Design</h1>
      </div>
    </footer>

  </body>

</  html>
