{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title></title>
    {% include "top.html" %}
  </head>

  <body>

    <!-- 1st Section containing girl in orange shirt and application form -->
    <div class="first-section">
      <section class="section-landing">
        <header class="masthead">
          <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="#page-top"> <img src="/static/images/bgtrans.png" width="160" height="80"  style="margin-right: 15px"class="d-inline-block align-center " alt=""> <img src="/static/images/b1.png" width="160" height="80"  style="margin-right: 15px"class="d-inline-block align-center " alt=""></a>
            <div class="row">
              <div class="col-9">
                <form class="search">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search Jobs" aria-label="Search" style="color: #fff;background-color: transparent; border-radius: 20px; border-width: 2px; border-color: #fff;">
                </form>
              </div>
              <div class="col-3" style="margin-right: auto; margin-left: auto;">
                <div class="material-icons" style="font-size: 40px; color: #fff">
                  account_circle
                </div>
              </div>
            </div>
          </div>
        </nav>
          <div class="container-fluid h-75 justify-content-center align-items-center" >
            <div class="row h-100 align-items-start justify-content-start text-left">
              <div class="col-lg-7 align-self-center page-title">
                <h2 class="mb-1" style="font-size: 53px; font-family: Coolvetica-regular; color: white; margin-left: 60px;">Fullfil your personal</h2>
                <h2 class="mb-1" style="font-size: 53px; font-family: Coolvetica-regular; color: white; margin-left: 60px;">career checklist now!</h2>

                <br/>

                <div class="list-inline">
                  <span style="display: inline-block; margin-left: 60px;">
                    <h3 style="font-family: poppins; color: #fff !important; font-size: 25px;">
                      <i class="fa-solid fa-circle-check" style="color: #0cb904; font-size: 25px; background-color: #fff; border-radius: 55px;"></i>  Competitive Salary</h3>
                  </span>
                </div>
                <div class="list-inline" style="margin-top: 10px">
                  <span style="display: inline-block; margin-left: 60px;">
                    <h3 style="font-family: poppins; color: #fff !important; font-size: 25px;">
                      <i class="fa-solid fa-circle-check" style="color: #0cb904; font-size: 25px;background-color: #fff; border-radius: 55px;"></i>  Rapid Career Development</h3>
                  </span>
                </div>
                <div class="list-inline" style="margin-top: 10px">
                  <span style="display: inline-block; margin-left: 60px;">
                    <h3 style="font-family: poppins; color: #fff !important; font-size: 25px;">
                      <i class="fa-solid fa-circle-check" style="color: #0cb904; font-size: 25px;background-color: #fff; border-radius: 55px;"></i> Extended Healthcare</h3>
                  </span>
                </div>
                <div class="list-inline" style="margin-top: 10px">
                  <span style="display: inline-block; margin-left: 60px;">
                    <h3 style="font-family: poppins; color: #fff !important; font-size: 25px;">
                      <i class="fa-solid fa-circle-check" style="color: #0cb904; font-size: 25px;background-color: #fff; border-radius: 55px;"></i> Leadership Training</h3>
                  </span>
                </div>
                <div class="list-inline" style="margin-top: 10px">
                  <span style="display: inline-block;  margin-left: 60px;">
                    <h3 style="font-family: poppins; color: #fff !important; font-size: 25px;">
                      <i class="fa-solid fa-circle-check" style="color: #0cb904; font-size: 25px;background-color: #fff; border-radius: 55px;"></i> Rewards and Recognition</h3>
                  </span>
                </div>
                <div class="list-inline" style="margin-top: 10px">
                  <span style="display: inline-block;  margin-left: 60px;">
                    <h3 style="font-family: poppins; color: #fff !important; font-size: 25px;">
                      <i class="fa-solid fa-circle-check" style="color: #0cb904; font-size: 25px;background-color: #fff; border-radius: 55px;"></i> Work Life Balance</h3>
                  </span>
                </div>
                <div class="list-inline" style="margin-top: 10px">
                  <span style="display: inline-block;  margin-left: 60px;">
                    <h3 style="font-family: Coolvetica-regular; color: #fff !important; font-size: 45px;">
                      #YouDeserveMore</h3>
                  </span>
                </div>
              </div>
              <div class="col-lg-5 align-self-center page-title">
                <div class="border" style="width: 340px;height: 390px; margin-left: 165px; ">
                  <form action="" style="background-color: #191919;border-radius:10px;padding:70px;height: 100%;">
                    <div class="list-inline" style="margin-top: -50px">
                      <span>
                        <h3 style="font-family: Coolvetica-regular; color: #fff !important; font-size: 35px; margin-left: -40px;">
                          Start your</h3>
                      </span>
                      <span>
                        <h3 style="font-family: Coolvetica-regular; color: #fff !important; font-size: 35px;margin-left: -40px; margin-top: -10px;">
                          career with us!</h3>
                      </span>
                    </div>

                    <input class="form-control form-control" type="text" placeholder="Full Name" style="background-color:#0D0D0D; margin-bottom: 13px; border-color: transparent; width: 270px; margin-left: -40px;  margin-top: 15px; color: #E5E5E5">
                    <input class="form-control form-control" type="text" placeholder="Email Address" style="background-color:#0D0D0D; margin-bottom: 13px;border-color: transparent;width: 270px; margin-left: -40px; color: #E5E5E5">
                    <input class="form-control form-control" type="text" placeholder="Mobile Number"style="background-color:#0D0D0D; margin-bottom: 7px;border-color: transparent;width: 270px; margin-left: -40px; color: #E5E5E5">

                    <label for="" style="color:#fff; margin-left: -35px; font-size: 12px;">Do you have call center experience?</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="yes" value="option1" style="margin-left: -60px; background-color: #0D0D0D">
                        <label class="form-check-label" for="yes" style="color:#fff; margin-left:-35px;">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="no" value="option2" style="margin-left: -25px; background-color: #0D0D0D">
                        <label class="form-check-label" for="no" style="color:#fff;">No</label>
                      </div>

                      <button type="button" class="btn hover-btn apply-now-btn">Apply Now!</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </header>
      </section>
    </div>

    <!-- 2nd section containing flying girl in white shirt, VSS perks and programs -->
    <div class="second-section">
      <section class="section-landing section-bg" style="padding-bottom: 30px;">
        <div class="row container-fluid" style="justify-content: space-between; padding-top: 30px; padding-right: 75px; padding-left: 75px; padding-bottom: 20px;">
          <div class="col-6">
            <h1>Enjoy these perks and programs as a VSS Employee!</h1>
          </div>
          <div class="row" style="justify-content: space-between">
            <div class="col-6">
              <button href="#" class="btn font-p btn-second-section-apply-now" id="hov">Apply Now!</button>
            </div>
          </div>
        </div>
        <div class="row container-fluid">
          <!-- <div class="row "> -->
            <div class="col-6" style="text-align:center;">
            </div>
            <div class="col-6" style="left: 90px;">
              <div class="row" style="padding: 8px">
                <div class="card">
                  <img src="{% static 'frontend/img/vssicons/vsscares.png' %}" alt="VSSCares" style="height: 72px;">
                  <p class="font-p" style="text-align: center; padding-top: 20px;">
                    <span style="color: #80CC6B">Healthcare Benefits</span><br/>
                    for Employees and <br/>
                    their family
                  </p>
                </div>
                <div class="card" style="margin-left: 10px;">
                  <img src="{% static 'frontend/img/vssicons/vssgives.png' %}" alt="VSSCares">
                  <p class="font-p" style="text-align: center; padding-top: 20px;">
                    Increasing, <br/>
                    <span style="color: #75D7F4">Tenure Based</span> <br/>
                    Compensation
                  </p>
                </div>
                <div class="card" style="margin-left: 10px;">
                  <img src="{% static 'frontend/img/vssicons/vssacademy.png' %}" alt="VSS Cares" style="height: 56.4px">
                  <p class="font-p" style="text-align: center; margin-top: 15px; padding-top: 10px;">
                    Training and <br/>
                    Organizational <br/>
                    <span style="color: #F8CF5F">Development</span> <br/>
                    <span style="color: #F8CF5F">Management</span>
                  </p>
                </div>
              </div>

              <div class="row" style="padding: 8px">
                <div class="card">
                  <img src="{% static 'frontend/img/vssicons/vssrewards.png' %}" alt="VSS Rewards" style="height: 45px">
                  <p class="font-p" style="text-align: center; padding-top: 20px;">
                    Branding and <br/>
                    <span style="color: #FD6161">Merchandise Store</span><br/>
                    Everyday Kudos
                  </p>
                </div>
                <div class="card" style="margin-left: 9px;">
                  <img src="{% static 'frontend/img/vssicons/vssshares.png' %}" alt="VSS Shares" style="height: 56px">
                  <p class="font-p" style="text-align: center; margin-top: 15px">
                    <span style="color: #8435C2">Community Service</span><br/>
                    and Interaction <br/>
                    giving back<br/>
                    to the community
                  </p>
                </div>
                <div class="card" style="margin-left: 10px;">
                  <img src="{% static 'frontend/img/vssicons/nexus.png' %}" alt="Nexus" style="height: 52px">
                  <p class="font-p" style="text-align: center; margin-top: 15px">
                    Employee Portal <br/>
                    and <span style="color: #80CC6B">Performance</span> <br/>
                    <span style="color: #80CC6B">Management</span> <br/>
                    <span style="color: #80CC6B">Dashboard</span>
                  </p>
                </div>
              </div>

              <div class="row" style="padding: 8px">
                <div class="card">
                  <img src="{% static 'frontend/img/vssicons/vssrockstar.png' %}" alt="VSS Rockstar" style="height: 70px">
                  <p class="font-p" style="text-align: center; padding-top: 20px;">
                    <span style="color: #80CC6B">VIP Recognition</span><br/>
                    for our top <br/>
                    performers
                  </p>
                </div>
                <div class="card" style="margin-left: 10px;">
                  <img src="{% static 'frontend/img/vssicons/vsscasalami.png' %}" alt="VSS CasaLami" style="height: 42px">
                  <p class="font-p" style="text-align: center; padding-top: 35px;">
                    Providing <span style="color: #75D7F4">healthy</span> <br/>
                    <span style="color: #75D7F4">Food options</span> for the<br/>
                    employees during the<br/>
                    night shift
                  </p>
                </div>
                <div class="card" style="margin-left: 10px;">
                  <img src="{% static 'frontend/img/vssicons/vssequity.png' %}" alt="VSS Equity" style="height: 65px">
                  <p class="font-p" style="text-align: center; margin-top: 15px">
                    <span style="color: #F8CF5F">Employees become</span> <br/>
                    <span style="color: #F8CF5F">stakeholders</span> of the<br/>
                    company, investing in<br/>
                    their career and future<br/>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>

    <!-- 3rd section containing carousel with images -->
    <div class="third-section">
      <section class="slider-section">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
            <li data-target="#carousel" data-slide-to="5"></li>
            <li data-target="#carousel" data-slide-to="6"></li>
            <li data-target="#carousel" data-slide-to="7"></li>
            <li data-target="#carousel" data-slide-to="8"></li>
            <li data-target="#carousel" data-slide-to="9"></li>
            <li data-target="#carousel" data-slide-to="10"></li>
            <li data-target="#carousel" data-slide-to="11"></li>
            <li data-target="#carousel" data-slide-to="12"></li>
            <li data-target="#carousel" data-slide-to="13"></li>
            <li data-target="#carousel" data-slide-to="14"></li>
            <li data-target="#carousel" data-slide-to="15"></li>
            <li data-target="#carousel" data-slide-to="16"></li>
            <li data-target="#carousel" data-slide-to="17"></li>
            <li data-target="#carousel" data-slide-to="18"></li>
            <li data-target="#carousel" data-slide-to="19"></li>
            <li data-target="#carousel" data-slide-to="20"></li>
            <li data-target="#carousel" data-slide-to="21"></li>
            <li data-target="#carousel" data-slide-to="22"></li>
          </ol> <!-- End of Indicators -->

          <!-- Carousel Content -->
          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares0.png' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares1.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares2.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares3.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares4.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares5.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares6.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares7.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares8.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares9.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares10.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares11.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares12.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares13.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares14.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares15.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares16.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares17.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares18.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares19.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares20.PNG' %}');">
            </div> <!-- End of Carousel Item -->

            <div class="carousel-item" style="background-image: url('{% static 'frontend/img/carousel_image/vsscares21.PNG' %}');">
            </div> <!-- End of Carousel Item -->

          </div> <!-- End of Carousel Content -->

          <!-- Previous & Next -->
          <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div> <!-- End of Carousel -->
      </section> <!-- End of Slider -->
    </div>

    <!-- 4th section containing Google Maps API -->
    <div class="fourth-section">
      <section class="section-landing">
        <div id="map"></div>
      </section>
    </div>

    <!-- Footer containing companies address and contacts -->
    <footer class="section-landing">
      <div class="section-bg">
        <div class="" style="padding: 20px; padding-left: 80px; padding-bottom: 30px;">
          <img src="{% static 'images/bgtrans.png' %}" alt="Virtual Staffing Solutions" style="height: 90.5px; width: 200px;">
          <div class="footer-details">
            <br/>
            <p>+1-844-877-7267</p>
            <p>177 Hunington Avenue #1700</p>
            <p>Boston, MA 02115</p>
            <br/>
            <p>2nd & 3rd Floor Chinatown East Gate,</p>
            <div class="row" style="align-content: center; justify-content: space-between; padding-left: 15px; padding-right: 40px;">
              <p>Lilia Avenue, Brgy. Cogon, Ormoc City,</p>
            </div>
            <div class="row" style="align-content: center; justify-content: space-between; padding-left: 15px; padding-right: 80px;">
              <p>Leyte, Philippines 6541</p>
              <p style="float: right;">Copyright &copy; Virtual Staffing Solutions</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% include "bottom.html" %}
</body>
</html>
