/* @Font-face fonts used for this application (Coolvetica and HKGrotesk) */

@font-face {
  font-family: 'Coolvetica-compressed';
  src: url('../fonts/coolvetica/coolvetica-compressed.otf') format("opentype");
}
@font-face {
  font-family: 'Coolvetica-condensed';
  src: url('../fonts/coolvetica/coolvetica-condensed.otf') format("opentype");
}
@font-face {
  font-family: 'Coolvetica-crammed';
  src: url('../fonts/coolvetica/coolvetica-crammed.otf') format("opentype");
}
@font-face {
  font-family: 'Coolvetica-regular-italic';
  src: url('../fonts/coolvetica/coolvetica-regular-italic.otf') format("opentype");
}
@font-face {
  font-family: 'Coolvetica-regular';
  src: url('../fonts/coolvetica/coolvetica-regular.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-Black';
  src: url('../fonts/hkgrotesk/HKGrotesk-Black.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('../fonts/hkgrotesk/HKGrotesk-Bold.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-BoldItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-BoldItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-BoldLegacy';
  src: url('../fonts/hkgrotesk/HKGrotesk-BoldLegacy.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-BoldLegacyItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-BoldLegacyItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-ExtraBold';
  src: url('../fonts/hkgrotesk/HKGrotesk-ExtraBold.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-Italic';
  src: url('../fonts/hkgrotesk/HKGrotesk-Italic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-LegacyItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-LegacyItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('../fonts/hkgrotesk/HKGrotesk-Light.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-LightItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-LightItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-LightLegacyItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-LightLegacyItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('../fonts/hkgrotesk/HKGrotesk-Medium.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-MediumItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-MediumItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-MediumLegacy';
  src: url('../fonts/hkgrotesk/HKGrotesk-MediumLegacy.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-MediumLegacyItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-MediumLegacyItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('../fonts/hkgrotesk/HKGrotesk-Regular.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-RegularLegacy';
  src: url('../fonts/hkgrotesk/HKGrotesk-RegularLegacy.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url('../fonts/hkgrotesk/HKGrotesk-SemiBold.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-SemiBoldItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-SemiBoldItalic.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-SemiBoldLegacy';
  src: url('../fonts/hkgrotesk/HKGrotesk-SemiBoldLegacy.otf') format("opentype");
}
@font-face {
  font-family: 'HKGrotesk-SemiBoldLegacyItalic';
  src: url('../fonts/hkgrotesk/HKGrotesk-SemiBoldLegacyItalic.otf') format("opentype");
}
.section-landing {
    width: 100%;
    background: white;
    position: relative;
    z-index: 2;
}

.second-section h1 {
  font-family: "Coolvetica-regular";
  font-weight: 400;
  font-size: 45px;
  color: #E5E5E5;
}

.font-p {
  font-family: "Coolvetica-regular";
  font-weight: 500;
  font-size: 25px;
}

.second-section .section-bg {
  height: 1000px;
  background-image: url("../img/bg_image/blackBG.png");
  /* background-color: #cccccc; */
}

.second-section .brushed-bg {
  /* position: absolute; */
  background-image: url("../img/bg_image/brushed.png");
  background-size: 900px 650px;
  /* margin-left: -300px; */
  width: 100%;
  /* padding: 100px; */
  height: 100%;
  background-repeat: no-repeat;
}

.second-section .card {
  border: 2.5px solid #2B2B2B;
  border-radius: 15px;
  background-color: #191919;
  padding: 10px;
}

.btn-second-section-apply-now {
  background-color: #80CC6B;
  color: #000;
  padding: 8px 45px;
  margin-top: 6px;
  margin-bottom: 6px
}

.btn-second-section-apply-now:hover {
  background-color: #FD6161;
  color: #E5E5E5;
}

.second-section img {
  height: 60px;
  width: 130px;
}

.second-section .card .font-p {
  font-family: "Coolvetica-regular-italic";
  font-weight: 400;
  font-size: 15px;
  color: #E5E5E5;
}

/* .second-section .card {
  position: relative;
} */
.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: poppins;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: -1px;
  border: 0;
}
/* Slider */
.carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }

      .carousel-item:nth-child(1) {
        background-image: url("/static/frontend/img/carousel_image/vsscares0.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(2) {
        background-image: url("/static/images/bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(3) {
        background-image: url("/static/images/bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #introCarousel {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image: url("/static/images/bg1.png");
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("static/images/bg1.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-family: poppins;
  font-size: 20px; 
  font-weight: bold;
  background: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 20px;
    
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size:40px;
    letter-spacing: .1rem;
   
   
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.border { 
  width: 400px;
  border-radius: 10px;
  background-color: #191919; /* For browsers that do not support gradients */
  background-position:0 100%, 100%;
  background-repeat:no-repeat;
  background-image: conic-gradient(#49E6BF,#80CC6B,#49E6BF,#8435C2,#FD6161,#8435C2,#49E6BF);
  padding: 3px;
  border-color: transparent;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #b2d0ce;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(100, 161, 157, 0.25);
}
.form-check-input:checked {
  background-color: #64a19d;
  border-color: #64a19d;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}


.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}